<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div id="logo-holder">
        <img src="assets/img/logo.png" id="logo">
      </div>
      <div class="mdl-layout-title">
        <div class="spacer-one"></div>
        <i class="sub">Angular</i>
        <div class="spacer-two"></div>
        <p class="main">Template!</p>
        <div class="spacer-one"></div>
      </div>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link">Dashboard</a>
        <a class="mdl-navigation__link">Manage</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content" style="margin-left: auto; margin-right: auto;">
    
  </main>
</div>
